In [1]:
from dateutil import parser
import datetime
import re
from bs4 import BeautifulSoup as bs
import requests
import json
import pandas as pd
import time

### Getting the regions list for sales and rent

In [2]:
# Load the webpage
webpage_path = 'https://www.onmap.co.il/en'

r = requests.get(webpage_path)

# Convert to a beautiful soup object
soup = bs(r.content)

# Getting the URLs list of regions for sale
buy_urls = []
for url in soup.find_all("input", {"type" : "radio",'name':"home-page-cities-links","value" : re.compile(".*/buy/\w+.*")}):
    buy_urls.append(webpage_path+url['value'])

# Getting the URLs list of regions for rent
for url in soup.find_all("input", {"type" : "radio",'name':"home-page-cities-links","value" : re.compile(".*/rent/\w+.*")}):
    buy_urls.append(webpage_path+url['value'])

### Getting the sales data per region from the webserver

In [3]:
sales_per_region_database_list = []
for url in buy_urls:
    region_name = url.split('/')[-1]
    sales_per_region_database_list.append(f'https://phoenix.onmap.co.il/v1/properties/mixed_search?option=buy&section=residence&city={region_name}&$sort=-is_top_promoted+-search_date')

### Getting the rent data per region from the webserver

In [4]:
rent_per_region_database_list = []
for url in buy_urls:
    region_name = url.split('/')[-1]
    rent_per_region_database_list.append(f'https://phoenix.onmap.co.il/v1/properties/mixed_search?option=rent&section=residence&city={region_name}&$sort=-is_top_promoted+-search_date')

### columns_names for rent_data_frame

In [5]:
columns_names = ['Date', 'City_name', 'Street_name', 'House_number', 'Bathrooms', 'Rooms', 'Floor', 'Area[m^2]', 'Parking_spots_aboveground', 'Parking_spots_underground', 'Price[NIS]', 'Property_type']

### Scraper

In [21]:
rent_df = pd.DataFrame(columns=columns_names)
for region in rent_per_region_database_list:
    r = requests.get(region)
    time.sleep(2)
    soup = bs(r.content)
    apartment_dict_list = json.loads(soup.p.get_text())['data']
    ff = 0
    for apartment_dict in apartment_dict_list:
        ff += 1
        df_row = {'Date' : [parser.parse(apartment_dict['created_at']).date()],
                   'City_name' : [apartment_dict['address']['en']['city_name']],
                   'Street_name': [apartment_dict['address']['en']['street_name']],
                   'House_number': [apartment_dict['address']['en']['house_number']],
                   'Bathrooms': [apartment_dict['additional_info']['bathrooms']],
                   'Rooms' : [apartment_dict['additional_info']['rooms']],
                   'Floor' : [apartment_dict['additional_info']['floor']['on_the']],
                   'Area[m^2]' : [apartment_dict['additional_info']['area']['base']],
                   'Parking_spots_aboveground' : [apartment_dict['additional_info'].get('parking', {}).get('aboveground')],
                   'Parking_spots_underground' : [apartment_dict['additional_info'].get('parking', {}).get('underground')],
                   'Price[NIS]' : [apartment_dict['price']],
                   'Property_type' : [apartment_dict['property_type']]
                 }
        rent_df = pd.concat([rent_df, pd.DataFrame(df_row)])
        if ff == 3: 
            break

### Reset the Index

In [23]:
rent_df.reset_index(drop=True, inplace=True)

In [24]:
rent_df

,Date,City_name,Street_name,House_number,Bathrooms,Rooms,Floor,Area[m^2],Parking_spots_aboveground,Parking_spots_underground,Price[NIS],Property_type
0,2021-02-03,Tel Aviv-Yafo,Geula St.,None,2,4,2,100,none,1,13500,apartment
1,2020-11-25,Tel Aviv-Yafo,Nissim Aloni St.,10,1,3,10,75,none,2,7999,apartment
2,2021-02-14,Tel Aviv-Yafo,HaRav Yizkhak Yedidya Frenkel,None,1,2,4,45,None,None,4000,apartment
3,2021-01-21,Netanya,Pierre Koenig St.,11,2,4,7,117,none,1,6000,apartment
4,2021-02-14,Netanya,Geva St.,None,2,5,3,300,1,none,5200,apartment
5,2020-02-26,Netanya,Nitsa Boulevard,20,2,4,17,147,none,2,8000,apartment
6,2021-02-14,Rishon LeTsiyon,Rabbi Kook St.,3,2,3,1,72,1,none,4100,apartment
7,2020-08-11,Rishon LeTsiyon,HaSadeh St.,None,2,3.5,3,80,1,none,4500,apartment
8,2020-09-27,Rishon LeTsiyon,Rabi Yehuda ha-Nasi St.,23,1,5,2,129,2,none,7000,apartment
9,2019-06-13,Rehovot,Rachel Hirshenzon St.,None,1,2,4,40,None,None,2800,apartment
10,2020-05-10,Rehovot,Sderot Hen,None,1,3,2,60,None,None,4000,apartment
11,2020-05-21,Rehovot,Zelkind Stolvov St.,None,1,4,2,100,None,None,4000,apartment
12,2021-02-09,Haifa,Brenner St.,22,1,3,4,60,None,None,2350,apartment
13,2021-02-14,Haifa,Mitspe St.,2,1,1,1,30,None,None,1250,apartment
14,2020-10-23,Haifa,Yehuda Burla St.,23,1,3,3,70,None,None,2800,apartment
15,2021-02-09,Ashdod,Rambam St.,9,1,2.5,3,48,None,None,3300,apartment
16,2021-01-16,Ashdod,Ha-Histadrut St.,11,1,3,1,62,None,None,3600,apartment
17,2021-01-16,Ashdod,Shavei Tsiyon St.,28,1,4,2,110,none,none,3900,apartment
18,2021-01-06,Holon,Sderot Yoseftal,150,1,3.5,2,80,None,None,3800,apartment
19,2019-09-25,Holon,Feierberg St.,None,1,3.5,1,82,None,None,4070,apartment
20,2020-12-03,Holon,Baal Mahshavot St.,None,1,1.5,0,25,None,None,3170,housing_unit
21,2021-02-01,Bat Yam,Yerushalayim St.,None,1,3,3,100,None,None,4000,apartment
22,2020-08-09,Bat Yam,Givati St.,None,1,2.5,3,70,None,None,3300,apartment
23,2019-06-05,Bat Yam,HaShikma St.,4,1,3,3,88,none,None,3900,apartment
24,2021-02-14,Petah Tikva,Ein Ganim St.,None,1,3,1,80,1,none,4000,apartment
25,2021-02-08,Petah Tikva,HaRav Kitroni St.,50,1,4,3,75,None,None,3800,apartment
26,2020-08-11,Petah Tikva,Yitskhak Sadeh St.,None,1,3,1,65,None,None,3000,apartment
27,2021-02-03,Tel Aviv-Yafo,Geula St.,None,2,4,2,100,none,1,13500,apartment
28,2020-11-25,Tel Aviv-Yafo,Nissim Aloni St.,10,1,3,10,75,none,2,7999,apartment
29,2021-02-14,Tel Aviv-Yafo,HaRav Yizkhak Yedidya Frenkel,None,1,2,4,45,None,None,4000,apartment
30,2021-01-21,Netanya,Pierre Koenig St.,11,2,4,7,117,none,1,6000,apartment
31,2021-02-14,Netanya,Geva St.,None,2,5,3,300,1,none,5200,apartment
32,2020-02-26,Netanya,Nitsa Boulevard,20,2,4,17,147,none,2,8000,apartment
33,2021-02-14,Rishon LeTsiyon,Rabbi Kook St.,3,2,3,1,72,1,none,4100,apartment
34,2020-08-11,Rishon LeTsiyon,HaSadeh St.,None,2,3.5,3,80,1,none,4500,apartment
35,2020-09-27,Rishon LeTsiyon,Rabi Yehuda ha-Nasi St.,23,1,5,2,129,2,none,7000,apartment
36,2019-06-13,Rehovot,Rachel Hirshenzon St.,None,1,2,4,40,None,None,2800,apartment
37,2020-05-10,Rehovot,Sderot Hen,None,1,3,2,60,None,None,4000,apartment
38,2020-05-21,Rehovot,Zelkind Stolvov St.,None,1,4,2,100,None,None,4000,apartment
39,2021-02-09,Haifa,Brenner St.,22,1,3,4,60,None,None,2350,apartment
40,2021-02-14,Haifa,Mitspe St.,2,1,1,1,30,None,None,1250,apartment
41,2020-10-23,Haifa,Yehuda Burla St.,23,1,3,3,70,None,None,2800,apartment
42,2021-02-09,Ashdod,Rambam St.,9,1,2.5,3,48,None,None,3300,apartment
43,2021-01-16,Ashdod,Ha-Histadrut St.,11,1,3,1,62,None,None,3600,apartment
44,2021-01-16,Ashdod,Shavei Tsiyon St.,28,1,4,2,110,none,none,3900,apartment
45,2021-01-06,Holon,Sderot Yoseftal,150,1,3.5,2,80,None,None,3800,apartment
46,2019-09-25,Holon,Feierberg St.,None,1,3.5,1,82,None,None,4070,apartment
47,2020-12-03,Holon,Baal Mahshavot St.,None,1,1.5,0,25,None,None,3170,housing_unit
48,2021-02-01,Bat Yam,Yerushalayim St.,None,1,3,3,100,None,None,4000,apartment
49,2020-08-09,Bat Yam,Givati St.,None,1,2.5,3,70,None,None,3300,apartment
50,2019-06-05,Bat Yam,HaShikma St.,4,1,3,3,88,none,None,3900,apartment
51,2021-02-14,Petah Tikva,Ein Ganim St.,None,1,3,1,80,1,none,4000,apartment
52,2021-02-08,Petah Tikva,HaRav Kitroni St.,50,1,4,3,75,None,None,3800,apartment
53,2020-08-11,Petah Tikva,Yitskhak Sadeh St.,None,1,3,1,65,None,None,3000,apartment

### Writing the renting data to csv

In [25]:
with open("Renting_data.csv",'w') as f:
    rent_df.to_csv(f, header=rent_df.columns, index=False, line_terminator='\n')